<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - University Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <style>
        #navBar {
            color: #feaf1b;
        }
    </style>

    @if (User.Identity.IsAuthenticated)
    {
        <nav id="navBar" class="navbar navbar-expand-xl navbar-light bg-custom-yellow fixed-top border-bottom" style="z-index: 1000; background-color: #feaf1b;">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">მთავარი გვერდი</a>
                        </li>
                        <!-- Conditionally render items based on user authentication -->
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/AdminPage">Admin Dashboard</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/EnrollmentPage">საგნების არჩევა</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="mr-2">
                    <partial name="LoginPartial"></partial>
                </div>
            </div>
        </nav>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>