﻿@if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-page="/Account/LogOut" class="form-inline">
        <span class="dropdown">
            <span class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </span>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-item">
                    <button type="submit" class="m-lg-2 btn btn-likn">Logout</button>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Account/AdminProfilePage">Profile</a>
                    </li>
                }
                else
                {
                    <li class="dropdown-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Account/StudentProfilePage">Profile</a>
                    </li>
                }
                     
            </ul>
        </span>
    </form>
}

